<h2>Edit author</h2>
<%= form_for @author do |f| %>
	<div class = "from-group">
		<%= f.label :first_name %><br/>
		<%= f.text_field :first_name ,class: 'form-control'%><br/>
	</div>
	<div class = "from-group">
		<%= f.label :last_name %><br/>
		<%= f.text_field :last_name ,class: 'form-control'%><br/>
	</div>
	<%= f.submit "submit", class:'btn btn-primary' %>
	<%= link_to "cancel", authors_path, class:'btn btn-default' %>

<% end %>
