<div id="books-index">
	<div class="row">
		<div class="col-md-3 col-sm-3">
			<h3> ruby</h3>
			<%= image_tag('covers/0.jpg')%>
			<%= link_to 'read more' , book_path(1) , class: 'btn btn-primary' %>
		</div>
		<div class="col-md-3 col-sm-3">
			<h3> ruby</h3>
			<%= image_tag('covers/1.jpg')%>
			<%= link_to 'read more' , book_path(1) , class: 'btn btn-primary' %>
		</div>
		<div class="col-md-3 col-sm-3">
			<h3> ruby</h3>
			<%= image_tag('covers/2.jpg')%>
			<%= link_to 'read more' , book_path(1) , class: 'btn btn-primary' %>
		</div>
		<div class="col-md-3 col-sm-3">
			<h3> ruby</h3>
			<%= image_tag('covers/3.jpg')%>
			<%= link_to 'read more' , book_path(1) , class: 'btn btn-primary' %>
		</div>
		<div class="col-md-3 col-sm-3">
			<h3> ruby</h3>
			<%= image_tag('covers/4.jpg')%>
			<%= link_to 'read more' , book_path(1) , class: 'btn btn-primary' %>
		</div>
		<div class="col-md-3 col-sm-3">
			<h3> ruby</h3>
			<%= image_tag('covers/5.jpg')%>
			<%= link_to 'read more' , book_path(1) , class: 'btn btn-primary' %>
		</div>
		<div class="col-md-3 col-sm-3">
			<h3> ruby</h3>
			<%= image_tag('covers/6.jpg')%>
			<%= link_to 'read more' , book_path(1) , class: 'btn btn-primary' %>
		</div>
	</div>
</div>

<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>
ltms.medu.ir
96073538