<h2>add new category</h2>
<%= form_for @category do |f| %>
	<div class = "from-group">
		<%= f.label :name %><br/>
		<%= f.text_field :name ,class: 'form-control'%><br/>
	</div>
	
	<%= f.submit "submit", class:'btn btn-primary' %>
	<%= link_to "cancel", categories_path, class:'btn btn-default' %>

<% end %>
