<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title ? @page_title : 'welcome' %> | Bookstore</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>

  <body>
    <div class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"> 
      <nav>   
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="<%= params[:container] == 'books' ? 'active' : '' %>"><%=link_to 'Home' , root_path ,class: "nav-link" %></li>
            <li><%=link_to 'About' , about_path ,class: "nav-link" %></li>
          </ul>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Add New
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= link_to 'Book' , new_book_path ,class: "dropdown-item" %>
              <%= link_to 'Authors' , new_author_path ,class: "dropdown-item" %>
              <%= link_to 'Categories' , new_category_path ,class: "dropdown-item" %>
              <%= link_to 'Publishers' , new_publisher_path ,class: "dropdown-item" %>
            </div>
          </div>

          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Manage
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%=link_to 'Authors' , authors_path ,class: "dropdown-item" %>
              <%=link_to 'Categories' , categories_path ,class: "dropdown-item" %>
              <%=link_to 'Publishers' , publishers_path ,class: "dropdown-item" %>
            </div>
          </div>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </div>
    <header>
      <div class="container">
        <h1>The bookstore<small><%= @page_title ? @page_title : ' welcome' %></small></h1>
      </div>
    </header>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <% if flash[:notice]%>
              <div class="alert alert-success"><%= flash[:notice] %></div>
            <% end %>
            <% if flash[:alert]%>
              <div class="alert alert-danger"><%= flash[:alert] %></div>
            <% end %>

            <%= yield %>
          </div>
          <div class="col-md-4">
            <%= render  "partials/sidebar" %>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div calss= "container">
        <p>CopyRight &copy; 2018, salarhp</p>
      </div>
    </footer>
  </body>
</html>
