<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title ? @page_title : 'welcome' %> | Bookstore</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Bookstore</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="<%= params[:container] == 'books' ? 'active' : '' %>"><%=link_to 'Home' , root_path ,class: "nav-link" %></li>
          <li><%=link_to 'About' , about_path ,class: "nav-link" %></li>
          <li><%=link_to 'New Book' , new_book_path ,class: "nav-link" %></li>
          <li><%=link_to 'New authors' , new_author_path ,class: "nav-link" %></li>
          <li><%=link_to 'New categories' , new_category_path ,class: "nav-link" %></li>
          <li><%=link_to 'New publishers' , new_publisher_path ,class: "nav-link" %></li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <header>
      <div class="container">
        <h1>The bookstore<small><%= @page_title ? @page_title : ' welcome' %></small></h1>
      </div>
    </header>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <% if flash[:notice]%>
              <div class="alert alert-success"><%= flash[:notice] %></div>
            <% end %>
            <% if flash[:alert]%>
              <div class="alert alert-danger"><%= flash[:alert] %></div>
            <% end %>

            <%= yield %>
          </div>
          <div class="col-md-4">
            <%= render  "partials/sidebar" %>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div calss= "container">
        <p>CopyRight &copy; 2018, salarhp</p>
      </div>
    </footer>
  </body>
</html>
